.profile-page {
  display: flex;
  justify-content: center;
  margin-top: 50px; /* Adjust this value as needed for spacing from the navbar */
}

.profile-card {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
